{
  "*.ts": [
    "bash -c 'pnpm run typecheck'",
    "pnpm run biome.lint",
    "pnpm run biome.format"
  ],
  "*.js": ["pnpm run biome.lint", "pnpm run biome.format"],
  "*.{json,jsonc}": ["pnpm run biome.lint", "pnpm run biome.format"],
  "*.{md,yml,yaml}": ["pnpm run prettier.format"],
  "*.*!(npm)rc": ["pnpm run prettier.format"]
}
