name: "Pull Request Title Linting"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    branches:
      - main
      - development

jobs:
  main:
    name: "Lint Pull Request Title"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            build
            chore
            ci
            docs
            feat
            fix
            perf
            refactor
            revert
            style
            test
          requireScope: false
          scopes: |
            cli
            heart
            seeker
            caster
            glyph
            essence
            [a-z]+
          disallowScopes: |
            release
            ![A-Z]+
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: >
            The subject "{subject}" found in the pull request title "{title}" didn't match the configured pattern. Please ensure that the subject doesn't start with an uppercase character.
